<div id="navigation">
  <%= image_tag("logo.gif", size: "50x50",alt: "Edit Entry") %>
  <nav>
  <ul class="nav navbar-nav navbar">
    <li><%= link_to "Main page", pages_path %></li>
    <li><%= link_to "About me", controller: "pages", action: "about" %></li>
    <li><%= link_to "Log in", '#' %></li>
  </ul>
  </nav>
</div>
<div id="fixfloat"></div>
